@import "tailwindcss";

@theme {
  --color-edf-blue: #001a70;
  --color-edf-lightBlue: #2e50b5;
  --color-edf-orange: #fe5800;
  --color-edf-orangeHover: #e54e00;
  --color-edf-gray: #f5f5f5;

  --font-family-sans: "Inter", "Segoe UI", "Roboto", "Helvetica Neue", "Arial",
    sans-serif;
}

@layer base {
  body {
    font-family: var(--font-family-sans);
  }

  /* Masquer la scrollbar pour les navigateurs WebKit */
  ::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: transparent;
  }

  /* Pour Firefox */
  * {
    scrollbar-width: none;
  }

  /* Pour IE et Edge */
  * {
    -ms-overflow-style: none;
  }
}
