---
import Layout from '../layouts/Layout.astro';
import LegalMentions from '../components/LegalMentions.astro';
import LegalHeader from '../components/LegalHeader.astro';
import LegalFooter from '../components/LegalFooter.astro';
import { getConfig } from '../config';

const config = getConfig();
---

<Layout title={`Mentions Légales | ${config.branding.companyName}`}>
  <LegalHeader slot="header" />
  <main>
    <LegalMentions />
  </main>
  <LegalFooter />
</Layout>
