---

const {showBadge = true, showCompanyName = false} = Astro.props;


---


<div class="relative flex items-center justify-center">
    <div class="w-12 h-12 sm:w-14 sm:h-14 lg:w-16 lg:h-16      rounded-full flex items-center justify-center text-white font-bold">
        <span class="text-edf-orange text-lg sm:text-xl lg:text-2xl">GFS</span>
        </div>
        {showBadge && (
            <div class="absolute top-0.5 right-0 sm:top-1 sm:right-0">
                <div class="w-3 h-3 sm:w-4 sm:h-4 bg-edf-orange rounded-full border-2 border-white"></div>
            </div>
        )}
    </div>
    {showCompanyName && (
        <div class="flex flex-col">
            <span class="text-edf-blue font-bold text-sm sm:text-md leading-none tracking-tight uppercase">
                GROUPE
            </span>
            <span class="text-gray-500 text-[10px] sm:text-xs font-semibold tracking-widest uppercase">
                FRANCE SOLAIRE
            </span>
        </div>

    )}
           